h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

#taskLists, #categoriesLists {
    width:100%
}

#mainList {
    margin-left: auto;
    margin-right: auto;
}

a {
    width: 60%;
}

th, td {
    padding: 15px;
    text-align: center;
}

tr {
    padding: 1px;
    border: 1px solid white;
}

.headRow {
    background-color: #d3d3d3;
}

.addListBtn, .addCategoryBtn, .mainPageMenu {
    background-color: #F5F5F5;
    border: 2px solid grey;
}

.addListBtn:hover, .mainPageMenu:hover, .addCategoryBtn:hover {
    background-color: #d3d3d3;
}

.listRow:hover {
    background-color: #F5F5F5;
}

.deleteCell {
    display: inline;
}

.fa {
    display: block!important;
}

#backToMainBtn, #backToListsBtn {
    padding-left: 5%;
}

#fieldDesc {
    float: left;
    width: 50%;
    text-align: right;

}

#fieldDescTask {

    width: 50%;
    text-align: right;

}

#inputField {
    float: left;
    width: 50%;
    text-align: left;

}

#inputFieldTask {
    float: right;
    width: 50%;
    text-align: left;

}

.descText {
    margin: 5%;
}

.inputForms {
    display: block;
    margin: 5%;
}

#taskWrapper {
    display: none;
    /*display: flex;*/
    justify-content: center;
}

#addListForm {
    display: flex;
    justify-content: center;
}

#btnWrapper {
    text-align: center;

}

.categoryTxt, #categoryInput, #btnWrapper {
    margin: 5%;
    float: left;
}

#categoryWrapper {
    display: none;
    justify-content: center;
}



